/*
  Stylezator ui framework
  Less version
  Author: Jahongir Sobirov
  Stylezator Group Inc 2021 copyright. All rights resrved.
*/
@fontfamily: arial;
@margin: 0;
body{
  font-family: @fontfamily;
  margin: @margin;
}
blockquete{
  @blcol: #eee;
  color: @blcol;
  font-size: 22px;
}
